.heroimg {
    height: 225px;
    width: 100%;
    margin: 0;
}

.videoimg {
    height: 100%;
    width: 100%;
    padding: 5px;
}

.about-head {
    color: #3491bd;
    text-transform: uppercase;
    font-weight: bold;
}

.about-p {
    line-height: 2.5rem;
    font-size: 1.1em;
    color: rgb(63, 62, 62);
}

.about-div {
    padding: 35px;
}

.wirelessDiv {
    background-color: #3491bd;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    color: white;
    font-size: 1.5rem;
}

.glyph-wrapper {
    margin-bottom: 15px;
    font-size: 3rem
}

.no-margin-p {
    margin: 0;
}

.modal-content {
    border-radius: 2%;
}

.modal-header {
    background-color: #3491bd;
    color: white;
    border-radius: 9px 9px 0 0;
}

.modal-footer {
    text-align: center;
}

.modal-close {
    background-color: blue;
}

.invest-btn {
    font-size: 1.6rem;
    background-color: #31a3dd;
    color: white;
    padding: 12px 20px;
    border-radius: 20px;
    border-color: #31a3dd;
    position: fixed;
    bottom: 30px;
    right: 20px;
    border: none;
    box-shadow: 1px 4px 15px 0px #3e3d3d;
}

.CTA-btn {
    padding: 0;
}

.col-md-2,
.col-xs-12 {
    position: relative;
    min-height: 0px;
    padding-right: 0px;
    padding-left: 0px;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}